
*{
    margin: 0;
    padding: 0;
}
    .cabecalho {
        background-color: #72ec41;
        color: rgb(18, 32, 221);
        display: flex;
        justify-content: space-around;
        align-items: center;
        cabeçalho imagem ;
    }