
*{
    margin: 0;
    padding: 0;
}
    .cabecalho {
        background-color: #58376b;
        color: rgb(180, 150, 17);
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .cabecalho-imagem{
        width: 220px ;
    }