
*{
    margin: 0;
    padding: 0;
}
    .cabecalho {
        background-color: #1131e6;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        cabeçalho imagem ;color: rgb(35, 47, 212);
    }